@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@200..800&display=swap');

:root {
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-volet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
}
body {
    font-family: "Karla", serif;
    overflow-x: hidden;
    font-size: 16px;
    font-weight:400;
    text-align: center;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    margin: 0;
    line-height: 1;
}
h1,
h2 {
    font-size: 2.75rem;
}
ul,
p,
figure {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
nav {
    border: none;
}
p {
    line-height: 1.5;
}
#top-row {
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
#top-row button {
    background: transparent;
    border: none;
}
main {
    display: grid;
    grid-template-columns:  100%;
    grid-template-rows: auto;
    gap: 0;
    margin-bottom: 8rem;
}
#family {
    grid-row: 1/2;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    z-index: 2;
}
#family img {
    height: 100%;
    width: 100% !important;
}
a.button {
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--very-light-gray);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
    justify-self: center;
}
#humanize {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    justify-content: center;
    gap: 2rem;
    background: var(--dark-violet);
    color: #fff;
    padding: 5rem 1rem;
}
#humanize h1 {
    z-index: 1;
    margin-top: 1rem;
}
.intro-left {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: start;
}
.intro-right {
    grid-row: 2/4;
    grid-column: 1/2;
    justify-self: end;
    transform: translateY(350px);
}
.different {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
    justify-content:center;
    margin-bottom: 8rem;
}
.different figure {
    flex-basis: 90%;
}
.different figure h3 {
    font-size: 1.5rem;
    margin: 1.5rem;
}
.different p {
    color: var(--dark-grayish-violet);
}
hr {
    flex-basis: 50%;
    color: var(--dark-volet);
    margin-block: 10rem 0;
}
.find-more {
    grid-row: 4/5;
    grid-column: 1/2;
    background: var(--dark-violet);
    margin: 1.5rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
    color: #fff;
}
.find-more h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    align-self: center;
}
.find-more a {
    grid-row: 2/3;
    grid-column: 1/2;
    height: fit-content;
    align-self: start;
}
.find-more .work {
    grid-row: 1/3;
    grid-column: 1/2;
    justify-self: end;
    transform: translate(15px, -15px);
}
footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background: var(--very-light-gray);
    gap:2rem;
    text-transform: uppercase;
    font-weight: 700;
}
footer a {
    text-decoration: none;
    color: var(--very-dark-volet);
}
footer p {
    color: var(--dark-grayish-violet);
}
#media {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    padding: 6rem 2rem 0;
    grid-row: 1/2;
    grid-column: 1/2;
}
picture.footer {
    grid-row: 1/2;
    grid-column: 1/2;
}
.social-media {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: center;    
    border-bottom: 1px solid var(--grayish-blue);
    padding-bottom: 2rem;
}
.company,
.help,
.contact,
.other {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.company li:not(:first-child),
.help li:not(:first-child),
.contact li:not(:first-child),
.other li:not(:first-child) {
    margin: 1rem;
}

.attribution {
    font-weight: 400;
    text-transform: capitalize;
}
@media ( width > 375px ) {
    .desktop-only {
        display: none;
    }
}
@media ( width >= 850px ) {
    .desktop-only {
        display: block;
    }
    .mobile-only {
        display: none;
    }
    #top-row {
        display: inline-block;
    }
    nav[popover]:not(popover-open) {
        display: inline-block;
        position: static;
        margin: 0;
    }
    nav ul {
        display: flex;
        flex-direction:  row;
        gap: 1rem;
    }
}
@media ( width >= 1440px ) {}