@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@200..800&display=swap');

:root {
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-volet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
}
body {
    font-family: "Karla", serif;
    overflow-x: hidden;
    font-size: 16px;
    font-weight:400;
    text-align: center;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    margin: 0;
}
h1,
h2 {
    font-size: 2.75rem;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
p {
    margin: 0;
}
#top-row {
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
#top-row button {
    background: transparent;
    border: none;
}
main {
    display: grid;
    grid-template-columns:  100%;
    grid-template-rows: auto;
    gap: 0;
}
#family {
    grid-row: 1/2;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}
picture img {
    width: 100% !important;
}
a.button {
    padding: 1rem;
    border: 1px solid var(--very-light-gray);
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
}
#humanize {
    grid-row: 2/3;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
    background: var(--dark-violet);
    color: #fff;
    padding: 5rem 1rem;
}
footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background: var(--very-light-gray);
    gap:2rem;
    text-transform: uppercase;
    font-weight: 700;
}
footer a {
    text-decoration: none;
    color: var(--very-dark-volet);
}
footer p {
    color: var(--dark-grayish-violet);
}
#media {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    padding: 6rem 2rem 0;
    grid-row: 1/2;
    grid-column: 1/2;
}
picture.footer {
    grid-row: 1/2;
    grid-column: 1/2;
}
.social-media {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: center;    
    border-bottom: 1px solid var(--grayish-blue);
    padding-bottom: 2rem;
}
.company,
.help,
.contact,
.other {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.company li:not(:first-child),
.help li:not(:first-child),
.contact li:not(:first-child),
.other li:not(:first-child) {
    margin: 1rem;
}

.attribution {
    font-weight: 400;
    text-transform: capitalize;
}
@media ( width > 375px ) {
    .desktop-only {
        display: none;
    }
}
@media ( width >= 850px ) {
    .desktop-only {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}
@media ( width >= 1440px ) {}