@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
$DarkViolet: hsl(256, 26%, 20%);
$GrayishBlue: hsl(216, 30%, 68%);
$VeryDarkViolet: hsl(270, 9%, 17%);
$DarkGrayishViolet: hsl(273, 4%, 51%);
$VeryLightGray: hsl(0, 0%, 98%);
$theBody: "Karla", sans-serif;
$theHead: "DM Serif Display", serif;

@mixin btn {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-family: $theBody;
  padding: 0.75em 4em;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  font-family: $theBody;
  font-size: 16px;
  text-align: center;
  overflow-x: hidden;
}

nav {
  ul {
    list-style-type: none;
    padding-inline-start: 0px;
  }
  a {
    color: $GrayishBlue;
    &:hover {
      color: $VeryDarkViolet;
    }
  }
  button {
    @include btn;
    border-color: $VeryDarkViolet;
    color: $VeryDarkViolet;
  }
}
#topBlock {
  position: absolute;
}
picture {
  position: relative;
  top: 5px;
}
#topPattern {
  position: absolute;
  top: -64px;
  left: 1084px;
  z-index: 2;
}
.purpleBack {
  background-color: $DarkViolet;
  button {
    @include btn;
  }
  h2 {
    color: white;
  }
}
p {
  color: $GrayishBlue;
}
a {
  text-decoration: none;
}
h1 {
  margin: 0;
  padding-top: 3em;
  font-family: $theHead;
  font-size: 2.7em;
  color: white;
  font-weight: 400;
}

h2 {
  font-family: $theHead;
  font-size: 2.7em;
  color: $DarkViolet;
  padding-top: 2em;
  font-weight: 400;
}

h3 {
  font-family: $theHead;
  font-size: 1.5;
  font-weight: 400;
}
footer {
  background-color: $VeryLightGray;
  dt {
    color: $GrayishBlue;
    font-weight: 700;
  }
  dd {
    color: $DarkViolet;
    margin-inline-start: 0;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  a {
    color: $VeryDarkViolet;
    &:hover {
      text-decoration: underline;
    }
  }
}
@media screen and (min-width: 64em) {
  nav {
    display: inline-block;
    ul {
      list-style-type: none;
      padding-inline-start: 0px;
      li {
        display: inline-block;
        padding: 10px;
      }
    }
  }
  #topBlock {
    position: absolute;
    top: 90px;
    width: 100vw;
    height: 26.7em;
    text-align: left;
    padding: 5em 10em;
    h1 {
      width: 30vw;
      padding-top: 2em;
      font-size: 4em;
    }
    p {
      width: 35vw;
      color: white;
    }
  }
  picture {
    position: relative;
    top: 100px;
    left: 320px;
    z-index: 1;
  }
  figure {
    display: inline-block;
    width: 25vw;
  }
  #bottomBlock {
    width: 85vw;
    margin: 0 auto;
  }
  dl {
    display: inline-block;
    text-align: left;
  }
}
