@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@200..800&display=swap');

:root {
    --dark-violet: hsl(256, 26%, 20%);
    --dark-violet-transparent: hsla(256, 25%, 20%, 0);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
    --transition: 300ms;
}
body {
    font-family: "Karla", serif;
    overflow-x: hidden;
    font-size: 16px;
    font-weight:400;
    text-align: center;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    margin: 0;
    line-height: 1;
}
h1,
h2 {
    font-size: 2.75rem;
}
ul,
p,
figure {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
nav {
    border: none;
    background: var(--dark-violet);
    padding: 0;
    width: 100%;
    height: calc(100% - 70px);
    overflow: hidden;
    inset: initial;
    bottom: 0;

}
#nav-list li {
    margin: 4rem 2rem;
}
.nav-item {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 1rem;
    transition: color var(--transition);
}
.nav-item.button {
    width: 80%;
    display: inline-block;
    margin: auto;
}
nav img {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
p {
    line-height: 1.5;
}
#top-row {
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
#top-row button {
    background: transparent;
    border: none;
    /* add a switch to the X to close */
}
main {
    display: grid;
    grid-template-columns:  100%;
    grid-template-rows: auto;
    gap: 0;
    margin-bottom: 8rem;
}
#family {
    grid-row: 1/2;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    z-index: 2;
}
#family img {
    height: 100%;
    width: 100% !important;
}
a.button {
    padding: 0.75rem 1.5rem;
    border: 2px solid var(--very-light-gray);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
    justify-self: center;
    transition: color var(--transition); background var(--transition);
}
#humanize {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    justify-content: center;
    gap: 2rem;
    background: var(--dark-violet);
    color: #fff;
    padding: 5rem 1rem;
}
#humanize h1 {
    z-index: 1;
    margin-top: 1rem;
}
.intro-left {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: start;
    transform: translateY(-11rem);
}
.intro-right {
    grid-row: 2/4;
    grid-column: 1/2;
    justify-self: end;
    transform: translateY(6rem);
}
#different {
    grid-row: 3/4;
    grid-column: 1/3;
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
    justify-content:center;
    margin-bottom: 8rem;
}
#different figure {
    flex-basis: 90%;
}
#different figure h3 {
    font-size: 1.5rem;
    margin: 1.5rem;
}
#different p {
    color: var(--dark-grayish-violet);
}
hr {
    flex-basis: 50%;
    color: var(--dark-volet);
    margin-block: 10rem 0;
}
#find-more {
    grid-row: 4/5;
    grid-column: 1/2;
    background: var(--dark-violet);
    margin: 1.5rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
    color: #fff;
}
#find-more h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    align-self: center;
}
#find-more a {
    grid-row: 2/3;
    grid-column: 1/2;
    height: fit-content;
    align-self: start;
}
#find-more .work {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: end;
    transform: none;
}
a:hover,
a:focus {
    color: var(--dark-violet);
    background: #fff;
}
.nav-item.button:hover,
.nav-item.button:focus {
    color: #fff;
    background: var(--dark-violet);
}
footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background: var(--very-light-gray);
    gap:2rem;
    text-transform: uppercase;
    font-weight: 700;
}
footer a {
    text-decoration: underline;
    text-decoration-color: var(--dark-violet-transparent);
    color: var(--very-dark-violet);
    transition: text-decoration-color var(--transition);
}
footer p {
    color: var(--dark-grayish-violet);
}
#media {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    padding: 6rem 2rem 0;
    grid-row: 1/2;
    grid-column: 1/2;
}
#media hr {
    margin: 0;
    flex-basis: 95%;
    height: 1px;
    color: var(--very-light-gray);
}
.footer-pattern {
    grid-row: 1/2;
    grid-column: 1/2;
}
.social-media {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: center;    
    padding-bottom: 2rem;
}
.social-media a svg {
    fill: var(--dark-grayish-violet);
    transition: fill var(--transition);
}
.social-media a:hover svg,
.social-media a:focus svg {
    fill: var(--dark-violet);
}
.company,
.help,
.contact,
.other {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.company li:not(:first-child),
.help li:not(:first-child),
.contact li:not(:first-child),
.other li:not(:first-child) {
    margin-block: 1rem;
}
.company a:hover,
.help a:hover,
.contact a:hover,
.other a:hover,
.company a:focus,
.help a:focus,
.contact a:focus,
.other a:focus {
    text-decoration: underline;
}

.attribution {
    font-weight: 400;
    text-transform: capitalize;
    margin-block: 1rem;
}
.desktop-only {
    display: none;
}
@media ( width > 375px ) {}
@media ( width >= 850px ) {
    .desktop-only {
        display: block;
    }
    .mobile-only {
        display: none;
    }
    h1,
    h2 {
        font-size: 3rem;
    }
    header {
        display: flex;
        padding: 1rem 10%;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        position: relative;
        z-index: 3;
    }
    #top-row {
        display: inline-block;
    }
    nav[popover]:not(popover-open) {
        display: inline-block;
        position: static;
        margin: 0;
        background: #fff;
        height: inherit;
        width: 50%;
    }
    #nav-list {
        display: flex;
        flex-direction:  row;
        gap: 1rem;
        align-items: center;
        justify-content: end;
    }
    #nav-list li {
        margin: 0;
    }
    .nav-item {
        color: var(--dark-grayish-violet);
        font-size: 1rem;
        margin: 0;
    }
    .nav-item.button {
        color: var(--very-dark-violet);
        border-color: var(--very-dark-violet);
        width: auto;
    }
    body {
        text-align: left;
    }
    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
    }
    #humanize {
        grid-row: 1/2;
        grid-column: 1/3;
        grid-template-columns: subgrid;
        grid-template-rows: repeat(4, 21%);
        justify-content: start;
        gap:0;
        padding:0;
    }
    #humanize hr {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 6.5rem;
        margin: auto 22% 1rem;
    }
    #humanize h1 {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 0;
        padding: 0;
        width: 75%;
        margin-left: 22%;
        align-self: flex-end;
    }
    #humanize p {
        grid-column: 1/2;
        grid-row: 3/4;
        width: 75%;
        margin-left: 22%;
        align-self: flex-end;
    }
    #humanize a {
        grid-column: 1/2;
        grid-row: 4/5;
        margin-left: 22%;
        justify-self: auto;
        align-self: flex-end;
    }
    #family {
        grid-row: 1/3;
        grid-column: 2/3;
        width: 540px;
        aspect-ratio: 54 / 65;
        transform: translateY(6.5rem);
        z-index: 1;
        justify-self: center;
        margin-right: 8rem;
    }
    .intro-right {
        grid-column: 2/3;
        grid-row: 1/2;
        transform: translateY(-5rem);
        z-index: 2;
    }
    #different {
        grid-column: 1/3;
        grid-row: 2/4;
    }
    #different hr {
        width: 6.5rem;
        flex-basis: auto;
        margin: 20rem auto 0 calc(10% + 1rem);
    }
    #different h2 {
        margin-left: calc(10% + 1rem);
        flex-basis: 100%;
        width: 6.5rem;
    }
    #different figure {
        flex-basis: 24%;
        margin-top: 1rem;
    }
    #find-more {
        grid-column: 1/3;
        margin: auto calc(10% + 1rem);
        grid-template-columns: 75% 25%;
        grid-template-rows: 1fr;
        padding: 0;
    }
    #find-more h2 {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
        justify-self: start;
        width: 26.5rem;
        margin-left: 5rem;
    }
    #find-more a {
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: center;
        justify-self: end;
        margin-right: 5rem;
    }
    footer {
        grid-template-columns: 30% 20% 20% 30%;
        grid-template-rows: repeat(3, auto);
        text-align: left;
        justify-items: center;
        gap: 0;
    }
    .footer-pattern {
        grid-column: 1/3;
        grid-row: 1/3;
    }
    #media {
        grid-column: 1/5;
        grid-row: 1/2;
        justify-content: space-between;
        padding: 2rem 24%;
        gap: 0;
        width: calc(100% - calc(20% + 2rem));
    }
    #media hr {
        flex-basis: 100%;
    }
    .social-media {
        width: auto;
    }
    .company {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: start;
        margin-left: 38%;
    }
    .help {
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: start;
    }
    .contact {
        grid-column: 3/4;
        grid-row: 2/3;
        justify-self: start;
    }
    .other {
        grid-column: 4/5;
        grid-row: 2/3;
        justify-self: start;
    }
    .attribution {
        grid-column: 1/5;
        grid-row: 3/4;
    }
}
@media ( width >= 1440px ) {}